apiVersion: v1
data:
{% if registries_conf is defined %}  registries.conf: |
{{ registries_conf|indent(4, True) }}
{% endif %}
{% if private_registry_crt is defined %}  ca-bundle.crt: |
{{ private_registry_crt|indent(4, True) }}
{% endif %}
kind: ConfigMap
metadata:
  name: mirror-registry-config
  namespace: assisted-installer
