---
apiVersion: v1
kind: Namespace
metadata:
  name: assisted-installer
  labels:
    name: assisted-installer
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: postgres
  name: postgres-pv-claim
  namespace: assisted-installer
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: assisted-service
  namespace: assisted-installer
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: assisted-service
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: {{ provisioner_cluster_registry }}/ocpmetal/assisted-service-index:latest
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: assisted-service-operator
  namespace: assisted-installer
spec:
  targetNamespaces:
  - assisted-installer
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: assisted-service-config
  namespace: "assisted-installer"
  labels:
    app: assisted-service
data:
  OPENSHIFT_VERSIONS: '{"4.8":{"display_name":"4.8", "release_version":"4.8", "rhcos_image":"{{ disconnected_http_server }}/{{ rhcos_remote_iso | basename }}", "rhcos_rootfs":"{{ disconnected_http_server }}/{{ rhcos_remote_rootfs | basename }}", "rhcos_version": "{{ rhcos_remote_iso | basename | splitext | first | splitext | first }}", "support_level":"production", "default": true}}'
  CONTROLLER_IMAGE: quay.io/ocpmetal/assisted-installer-controller@sha256:93f193d97556711dce20b2f11f9e2793ae26eb25ad34a23b93d74484bc497ecc
  LOG_LEVEL: "debug"
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: assisted-service-operator
  namespace: assisted-installer 
spec:
  channel: alpha
  installPlanApproval: Automatic
  name: assisted-service-operator
  source: assisted-service
  sourceNamespace: openshift-marketplace
  config:
    env:
    - name: OPENSHIFT_VERSIONS
      value: '{"4.8":{"display_name":"4.8", "release_version":"4.8", "rhcos_image":"{{ disconnected_http_server }}/{{ rhcos_remote_iso | basename }}", "rhcos_rootfs":"{{ disconnected_http_server }}/{{ rhcos_remote_rootfs | basename }}", "rhcos_version": "{{ rhcos_remote_iso | basename | splitext | first | splitext | first }}", "support_level":"production", "default": true}}'
    - name: IPV6_SUPPORT
      value: "true"
    - name: DEPLOY_TARGET
      value: "onprem"
    - name: GODEBUG
      value: "x509ignoreCN=0"
---
apiVersion: agent-install.openshift.io/v1beta1
kind: AgentServiceConfig
metadata:
  namespace: assisted-installer
  name: agent
  annotations:
    unsupported.agent-install.openshift.io/assisted-service-configmap: 'assisted-service-config'
spec:
  databaseStorage:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 10Gi
  filesystemStorage:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 20Gi
  mirrorRegistryRef:
    name: 'mirror-registry-config'
