spec:
  template:
    spec:
      containers:
      - name: assisted-service
        volumeMounts:
        - mountPath: /etc/pki/ca-trust/extracted/pem
          name: registry-ca
          readOnly: true
      volumes:
      - configMap:
          defaultMode: 420
          items:
          - key: ca-bundle.crt
            path: tls-ca-bundle.pem
          name: registry-ca
        name: registry-ca
