[all:vars]

# The pull_secret from https://cloud.redhat.com/openshift/install/crc/installer-provisioned
pull_secret='xxx'

# ssh key of the installer machine
ssh_public_key="ssh-rsa xxx"

# Default as httpd config
http_server_path=/var/www/html
kernel_arguments=""
small_iso_path=/opt/cached_disconnected_images/small_iso.iso
ai_iso_path=/opt/cached_disconnected_images

# You can set your own rootfs image and store it under the same IP as above.
rootfs_url=https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/4.6/latest/rhcos-live-rootfs.x86_64.img

# should be same as the installer machine IP-address
ai_url="http://192.168.112.199:8080"
ignition_url=http://192.168.112.199/

# You will need to configure your env DNS server for the cluster_domain and cluster_name
cluster_name="test-aut"
cluster_domain="cluster.testing"

# Make sure api_vip is mapped in your env DNS server to api.{cluster_name}.{cluster_domain} AND ingress_vip to *.apps.{cluster_name}.{cluster_domain}
ingress_vip=192.168.112.195
api_vip=192.168.112.196

bridge_name=nm-bridge
libvirt_uri="qemu:///system"
need_racadm=true

[provisioner]
# host from where the installation is performed
localhost ansible_connection=local

[worker_nodes]
worker-0.test-aut.cluster-testing bmc_type=SuperMicro bmc_address=192.168.111.212 bmc_user="ADMIN" bmc_password="ADMIN" smb_host=192.168.111.1 smb_path=share smb_server_path=/home/share ramdisk_path=/opt/network-config kernel_arguments="" final_iso_path=/home/share/ ignition_name=worker0
worker-1 bmc_type=Dell bmc_address=10.16.231.121 bmc_user="usr" bmc_password="pwd" ramdisk_path=/opt/network-config kernel_arguments="" final_iso_path=/opt/cached_disconnected_images ignition_name=worker-0

