[all:vars]

pull_secret='xxx'

ai_url="http://192.168.112.199:8080"
cluster_name="test-aut"
cluster_domain="cluster.testing"
ingress_vip=192.168.112.195
api_vip=192.168.112.196
ssh_public_key="ssh-rsa xxx"
ignition_url=http://192.168.112.199/ignition_config
rootfs_url=http://192.168.112.199/rootfs.img
kernel_arguments=""
ramdisk_path=/opt/network-config
http_server_path=/opt/cached_disconnected_images
ignition_config_name=ignition_config
ramdisk_config_name=extra_ramdisk
small_iso_path=/opt/cached_disconnected_images/small_iso.iso
final_iso_path=/home/share/coreos.iso
bmc_address=192.168.111.212
bmc_user="ADMIN"
bmc_password="ADMIN"
smb_host=192.168.111.1
smb_path=share
ai_iso_path=/opt/cached_disconnected_images
bridge_name=nm-bridge

[provisioner]
# host from where the installation is performed
localhost ansible_connection=local

[master_vms]
192.168.112.26
192.168.112.27
192.168.112.28
