---
- name: Create temporary directory for script
  tempfile:
    state: directory
  register: script_directory

- name: Get the script to modify ISOs
  get_url:
      url: https://raw.githubusercontent.com/redhat-ztp/ztp-iso-generator/main/rhcos-iso/inject_config_files.sh
      dest: "{{ script_directory.path }}/inject_config_files.sh"

- name: Get the script to generate ramdisk
  get_url:
      url: https://raw.githubusercontent.com/redhat-ztp/ztp-iso-generator/main/rhcos-iso/ramdisk_generator.sh
      dest: "{{ script_directory.path }}/ramdisk_generator.sh"

- name: Get the script to extract ignition from ISO
  get_url:
      url: https://raw.githubusercontent.com/redhat-ztp/ztp-iso-generator/main/rhcos-iso/extract_ignition_from_ai_iso.sh
      dest: "{{ script_directory.path }}/extract_ignition_from_ai_iso.sh"

- name: Create temporary directory for modifying the ignition
  tempfile:
    state: directory
  register: ignition_directory

- name: Extract the ignition file from the downloaded ISO
  script:
    chdir: "{{ script_directory.path }}"
    cmd: "{{ script_directory.path }}/extract_ignition_from_ai_iso.sh {{ ai_iso_path }}/{{ cluster_name }}-day2.iso {{ http_server_path }}/{{ ignition_config_name }}"

- name: Modify ISO for all the workers
  include_tasks: modify_iso_for_worker.yaml
  with_items: "{{ groups['worker_nodes'] }}"