---
- name: Configure cluster
  block:
    - name: Update host to copy the network
      shell: "aicli update host $(aicli list hosts | grep {{ cluster_name }} | grep worker | awk '{print $6}') -P extra_args=[--copy-network]"

    - name: Install cluster
      shell: "aicli start cluster {{ cluster_name }}-day2"
  environment:
    AI_URL: "{{ ai_url }}"

