provisioning_enable: false
{% if provisioner_cluster_channel is defined and provisioner_cluster_channel|length > 0 %}
version: {{ provisioner_cluster_channel }}
{% endif %}
pool: {{ provisioner_cluster_pool | default('default') }}
dualstack: false
disconnected: true
{% if provisioner_cluster_tag is defined and provisioner_cluster_tag|length > 0 %}
tag: "{{ provisioner_cluster_tag }}"
{% endif %}
virtual_masters: true
virtual_workers: false
launch_steps: true 
deploy_openshift: true
extra_disks: [20, 20]
cluster: {{ provisioner_cluster_name }}
domain: {{ provisioner_cluster_domain }}
uefi_legacy: true
patch_rhcos_image: true
{% if provisioner_cluster_openshift_image is defined and provisioner_cluster_openshift_image|length > 0 %}
openshift_image: {{ provisioner_cluster_openshift_image }}
{% endif %}
baremetal_net: {{ provisioner_cluster_network }}
baremetal_macs:
- {{ baremetal_mac_master_0 | default('aa:aa:aa:aa:bb:01') }}
- {{ baremetal_mac_master_1 | default('aa:aa:aa:aa:bb:02') }}
- {{ baremetal_mac_master_2 | default('aa:aa:aa:aa:bb:03')}}
installer_mac: {{ installer_mac | default('aa:aa:aa:aa:bb:04') }}
virtual_masters_memory: {{ virtual_masters_memory | default('20480') }}
virtual_masters_numcpus: {{ virtual_masters_numcpus | default('16') }}
virtual_workers_deploy: false
disk_size: {{ virtual_masters_disk_size | default('80') }}
baremetal_cidr: {{ provisioner_cidr }}
api_ip: {{ provisioner_api_ip }}
ingress_ip: {{ provisioner_ingress_ip }}
ipmi_user: root
ipmi_password: calvin
disconnected_reuse: true
disconnected_origin: quay.io
ipv6: true
ntp: true
{% if provisioner_cluster_ntp_server is defined and provisioner_cluster_ntp_server|length > 0 %}
ntp_server: {{ provisioner_cluster_ntp_server }}
{% endif %}
vmrules:
- {{ provisioner_cluster_name }}-installer:
    disks:
      - {{ installer_disk_size | default('220') }}
    memory: {{ installer_memory | default('16384') }}
    domain: {{ provisioner_cluster_domain }}
    nets:
     - name: {{ provisioner_cluster_network }}
       ipv6: true
       mac: {{ installer_mac }}
     - default
    cmds:
    - nmcli conn mod 'System eth0' ipv6.dhcp-iaid mac
    - nmcli conn mod 'System eth0' ipv6.dhcp-duid ll
    - nmcli conn mod 'System eth0' ipv4.addresses ""
    - hostnamectl set-hostname '{{ provisioner_cluster_name }}-installer.{{ provisioner_cluster_name }}.{{ provisioner_cluster_domain }}'
    - nmcli conn up 'System eth0'
