---
apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: {{ cluster_name }}
  namespace: {{ install_namespace }}
spec:
  clusterDeploymentRef:
    name: {{ cluster_name }}
  imageSetRef:
    name: {{ cluster_imageset }}
{% if manifest_files.matched|int != 0 %}
  manifestsConfigMapRef:
    name: {{ cluster_name }}-extra-install-manifests
{% endif %}
  networking:
{% if cluster_network_cidr is defined and cluster_network_cidr|length > 0 %}
    clusterNetwork:
      - cidr: "{{ cluster_network_cidr }}/{{ cluster_network_sufix }}"
        hostPrefix: {{ cluster_network_host_prefix }}
{% endif %}
{% if service_network_cidr is defined and service_network_cidr|length > 0 %}
    serviceNetwork:
      - "{{ service_network_cidr }}/{{ service_network_sufix }}"
{% endif %}
{% if machine_network_cidr is defined and machine_network_cidr|length > 0 %}
    machineNetwork:
      - cidr: "{{ machine_network_cidr }}/{{ machine_network_sufix }}"
{% endif %}
    networkType: OVNKubernetes
  provisionRequirements:
    controlPlaneAgents: 1
  sshPublicKey: '{{ ssh_pubkey }}'
