kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ cluster_name }}-extra-install-manifests
  namespace: {{ install_namespace }}
data:
{% for extra in manifest_files.files %}
  {{ extra.path | basename }}: |
    {{ lookup('file', extra.path)  | indent(4, False) }}
{% endfor %}
