apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_name }}
spec:
  clusterRef:
    name: {{ cluster_name }}
    namespace: {{ cluster_name }}
  agentLabelSelector:
    matchLabels:
      cluster-name: {{ cluster_name }}
  pullSecretRef:
    name: assisted-deployment-pull-secret
{% if http_proxy is defined and http_proxy|length > 0 and https_proxy is defined and https_proxy|length > 0 is defined %}
  proxy:
    {% if http_proxy is defined and http_proxy|length > 0 %}httpProxy: {{ http_proxy }}{% endif %}
    {% if https_proxy is defined and https_proxy|length > 0 %}httpsProxy: {{ https_proxy }}{% endif %}
{% endif %}
  sshAuthorizedKey: '{{ ssh_pubkey }}'
{% if ignition_config_override is defined and ignition_config_override|length > 0 %}
  ignitionConfigOverride: '{{ ignition_config_override }}'
{% endif %}
{% if nmstate_path is defined %}
  nmStateConfigLabelSelector:
    matchLabels:
      nmstate-label: {{ cluster_name }}-nmstate
{% endif %}
