[all:vars]

pull_secret='<your_pull_secret>'
ai_url="http://192.168.112.199:8080" # url where AI will be populated
# cluster settings
cluster_name="test-aut"
cluster_domain="cluster.testing"
cluster_version=4.8
ssh_public_key="<your_ssh_key>"
need_racadm=false # set to true if you use Dell
final_iso_path=/home/share/ # path where to store the final ISO. Needs to point to the path of your SMB share/http server that populates the ISO
# bmc settings
bmc_type=SuperMicro # type of bmc (Dell, SuperMicro)
bmc_address=192.168.111.212
bmc_user="ADMIN"
bmc_password="ADMIN"
# for supermicro
smb_host=192.168.111.1
smb_path=share
# for dell
#iso_url=http://192.168.112.199	# http server populating the ISO
# when this var is set, it injects static configuration
static_ip={"mac":"ac:1f:6b:7b:e9:ec", "hostname": "single-node-cluster.test-aut.cluster.testing", "ipv4_config": {"ip": "192.168.112.34", "gateway":"192.168.112.1", "mask":24, "dns":"8.8.8.8"}}
temporary_path=/tmp

[provisioner]
# host from where the installation is performed
192.168.112.199 ansible_connection=ssh

