{% for key, vm in vms.items() %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster_name }}-{{ key }}-bmh-secret
  namespace: {{ cluster_name }}
data:
  username: {{ vm.bmc_user | b64encode }}
  password: {{ vm.bmc_pass | b64encode }}
type: Opaque
---
{% endfor %}
