- name: Clone the assisted installer project
  git:
    repo: 'https://github.com/openshift/assisted-service'
    version: "{{ ai_version }}"
    dest: /opt/assisted-service-ztp
    update: yes
    force: yes

- name: Add env var to file if does not exist
  lineinfile:
    path: /opt/assisted-service-ztp/onprem-environment
    line: "{{ item }}"
  with_items: "{{ onprem_vars }}"

- name: Clean the pod
  shell: "podman pod rm -f assisted-installer"
  ignore_errors: yes

- name: Get RHCOS livecd iso
  shell: "curl {{ rhcos_base_iso }} -o livecd.iso"
  args:
    chdir: "/opt/assisted-service-ztp"
  when: rhcos_base_iso is defined

- name: Start the assisted installer service
  shell: "ASSISTED_TAG={{ assisted_tag }} make deploy-onprem"
  args:
    chdir: "/opt/assisted-service-ztp"
