apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster_name }}-bmh-secret
  namespace: {{ cluster_name }}
data:
  username: {{ bmc_user | b64encode }}
  password: {{ bmc_pass | b64encode }}
type: Opaque
