apiVersion: agent-install.openshift.io/v1beta1
kind: AgentServiceConfig
metadata:
  namespace: open-cluster-management
  name: agent
  annotations:
    unsupported.agent-install.openshift.io/assisted-service-configmap: 'assisted-service-config'
spec:
  databaseStorage:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 10Gi
  filesystemStorage:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 20Gi
  mirrorRegistryRef:
    name: 'mirror-registry-config'
  osImages:
    - openshiftVersion: "{{ mirror_version_spoke_release | regex_replace('^([0-9])\\.([0-9]*).*', '\\1.\\2') }}"
      version: "{{ mirror_version_spoke_release }}"
      url: "{{ disconnected_http_server }}/{{ rhcos_remote_iso | basename }}"
      rootFSUrl: "{{ disconnected_http_server }}/{{ rhcos_remote_rootfs | basename }}"
