apiVersion: agent-install.openshift.io/v1beta1
kind: AgentServiceConfig
metadata:
  namespace: open-cluster-management
  name: agent
  annotations:
    unsupported.agent-install.openshift.io/assisted-service-configmap: 'assisted-service-config'
spec:
  databaseStorage:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 10Gi
  filesystemStorage:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 20Gi
  mirrorRegistryRef:
    name: 'mirror-registry-config'
  osImages:
  - openshiftVersion: "{{ provisioner_cluster_version }}"
    version: "{{ assisted_image_version }}"
    cpuArchitecture: "x86_64"
    url: "{{ disconnected_http_server }}/{{ rhcos_remote_iso | basename }}"
    rootFSUrl: "{{ disconnected_http_server }}/{{ rhcos_remote_rootfs | basename }}"

