[all:vars]

# Pull secret must include all necessary auth, including registry.redhat.io
pull_secret='<pull_secret_var>'
ssh_public_key="<ssh_public_key>'

temporary_path=/tmp

# provisioner cluster, just set it if you need to deploy a provisioner cluster
provisioner_cluster_name=test-operator
provisioner_cluster_domain=cluster.testing
provisioner_ipv6_cidr=1001:db9::
provisioner_ipv6_suffix=64
default_libvirt_range=192.168.122.0/24
provisioner_cluster_version=4.8
provisioner_cluster_version_minor=0
provisioner_cluster_registy=mirror_hostname:5000
provisioner_cluster_registry_user=dummy
provisioner_cluster_registry_password=dummy
disconnected_http_server=http://http_hostname
disconnected_http_server=http://dhcp-38.cnfdt11.private.lab
http_server_path=/var/www/html/

# set those only if you need to expose the redfish endpoints
# internally, and the cluster endpoints externally
redfish_ips = [{ 'ip': '10.46.61.138:443', 'target_port': '8443' }]
haproxy_http_port=8080
haproxy_https_port=8081

# vars for the mirror, need to be pinned to 4.7 for the moment
mirror_version=4.7
mirror_version_minor=10
mirror_version_spoke_release=4.8.0-fc.3-x86_64

# set it to a disk that has a minimum of 350gb, for mirroring
provisioner_cluster_libvirt_pool=/pool
provisioner_cluster_kubeconfig=/root/.kcli/clusters/test-operator/auth/kubeconfig
# url for the rhcos image that will be mirrored into our installer
rhcos_remote_url=https://releases-art-rhcos.svc.ci.openshift.org/art/storage/releases/rhcos-4.8/48.83.202103221318-0/x86_64/rhcos-48.83.202103221318-0-live.x86_64.iso
# paths for the disks on masters, that will be used for local storage
device_paths=[ '/dev/vda', '/dev/vdb' ]

# if you use your own registry, the crt for it
#private_registry_crt="<path_to_registry>"

[provisioner]
# host from where the installation is performed
10.46.55.25 ansible_connection=ssh ansible_user=root
#localhost ansible_connection=local
#
# set it to copy the iso images to a related http server
[http_mirror]
#localhost ansible_connection=local ansible_user=root
10.46.55.25 ansible_connection=ssh ansible_user=root

# set it to install haproxy to expose endpoints
[haproxy]
#localhost ansible_connection=local ansible_user=root
10.46.55.25 ansible_connection=ssh ansible_user=root
